<!DOCTYPE html>
<html>
 
<head>
 
    <title>Employee Task Manager</title>
 
    <link rel="stylesheet" href="/static/style.css">
 
</head>
 
<body>
 
    <div class="container">
 
        <h1>Employee Task Manager</h1>
 
        <input type="text" id="title" placeholder="Enter Task Title">
 
        <input type="text" id="description" placeholder="Enter Description">
 
        <button onclick="addTask()">Add Task</button>
 
        <h2>Task List</h2>
 
        <ul id="taskList"></ul>
 
    </div>
 
    <script src="/static/script.js"></script>
 
</body>
 
</html>